.content-craft .text {
    text-indent: 5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 3%;
}

.images {
    width: 90%;    
    margin-left: 5%;
    margin-right: 5%;
}

.images h3:first-child {
    text-indent: 8rem;
    margin-bottom: 2%;
}

.h2 {
    margin-top: 5%;
    margin-bottom: 2%;
}

.h3 {
    margin: 5% auto 2% 30%;
}

.images img {
    width: 70%;
    height: 400px;
    border-radius: 1px;
}

.img1 {
    margin-left: 15%;
    margin-right: 15%;
}

.img2 {
    margin-right: 30%;
}

.img3 {
    margin-left: 30%;
}

.sites {
    font-size: 1.3rem;
    line-height: 1.7rem;
    list-style: inside;
    text-indent: 5rem;
    margin-top: 5%;
}

.sites h2 {
    margin-bottom: 2%;
}

.sites a {
    color: teal;
}


.sites a:hover {
    color: violet;
}